.slider {
  width: 50px;
  height: 250px;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
  z-index: 2;
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-0deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-3deg) rotateY(180deg);
  }
}

.item {
  position: absolute;
  inset: 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(250px);
}

@media (max-width: 1023px) {
  .slider {
    width: 160px;
    height: 200px;
  }

  .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(150px);
  }
}

@media (max-width: 767px) {
  .slider {
    width: 100px;
    height: 150px;
  }

  .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(100px);
  }
}
